@inherits LayoutComponentBase

<div class="container-fluid screen">
    <div class="container-md main-container">
        <div class="row">
            <div class="col-md-4">
                <NavMenu/>
            </div>
            <div class="col-md-8">
                <div class="content-body">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>