body {

}

.screen {
    height: 100vh;
    background: #ffe6fc;
    background: -webkit-linear-gradient(336deg, #ffe6fc 0%, #ffffff 100%);
    background: linear-gradient(336deg, #ffe6fc 0%, #ffffff 100%);
}
.content-body{
    padding: 1rem;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: clip;
}
.main-container {
    height: 100vh;
}