<div class="flex-column nav">
    <NavLink>
        <div class="button">Add Cocktail</div>
    </NavLink>
    <NavLink href="/">
        <div class="button">Home - cocktail list</div>
    </NavLink>
    <NavLink>
        <div class="button">Your favorites</div>
    </NavLink>
    <NavLink>
        <div class="button">Most popular ingredients</div>
    </NavLink>
    <NavLink>
        <div class="button">Statistics</div>
    </NavLink>
</div>
