.button {
    text-align: center;
    padding: 2rem;
    font-weight: bold;
    transition: 0.1s ease;
}
    .button:hover {
        background-color: #ffc3f8;
    }
.nav{
    border-right: 1px solid darkgray;
    height: 100vh;
}

a > .button {
    color: black;
    text-decoration: none;
}
@media (max-width: 768px) {
    /* … */
}