@page "/"
@using Cocktails2.Application.Services.Interfaces

@*This should be changed to use dtos instead of domain entities (??)*@
@using Cocktails2.Domain.Entities

@inject ICocktailService cocktailService

<PageTitle>Weather forecast</PageTitle>


@if (cocktails == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var cock in cocktails)
        {
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="@cock.PhotoUrl.OriginalString" class="card-img-top" alt="cocktail photo">
                    <div class="card-body">
                        <h5 class="card-title">@cock.Name</h5>
                        <p class="card-text">@cock.Description.Substring(0,100)...</p>
                        <NavLink href="#" class="card-link">See more</NavLink>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private IReadOnlyCollection<Cocktail> cocktails = new List<Cocktail>();

    protected override async Task OnInitializedAsync()
    {
        cocktails = await cocktailService.GetAllCocktails();
    }
}
