@page "/"
@using Cocktails2.Application.Services.Interfaces

@*This should be changed to use dtos instead of domain entities (??)*@
@using Cocktails2.Domain.Entities

@inject ICocktailService cocktailService

<PageTitle>Weather forecast</PageTitle>


@if (cocktails == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var cock in cocktails)
    {
        <p>@cock.Name</p>
        <p>@cock.Description</p>
        @if (cock.IngredientPortions != null)
            @foreach(var ingr in cock.IngredientPortions)
            {
            <p>@ingr.Ingredient.Name</p>
            }
        else
        {
            <p> <b> IngredientPortions null </b>  </p>
        }
        <p>@cock.PhotoUrl.OriginalString</p>
    }
}

@code {
    private IReadOnlyCollection<Cocktail> cocktails = new List<Cocktail>();

    protected override async Task OnInitializedAsync()
    {
        cocktails = await cocktailService.GetAllCocktails();
    }
}
